@import "../utils/vars";

.company-features {
  background-color: getColor("white");

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor("text");
  }
  &__image {
    display: flex;

    background-color: getColor("background-light-grey");
    border-radius: 4px;
    min-height: 120px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .company-features {
    padding-bottom: 45px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .company-features__list {
    flex-direction: row;
    gap: 30px;
  }

  .company-features__image {
    width: 270px;
  }
}
