@import "../utils/vars";

.contacts {
  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: getColor("text");
    align-items: center;
    gap: 10px;
    transition: $transition;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    &__link {
      gap: 8px;
    }
  }
}
