.customs {
  background-color: getColor("white");
  &__item {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: $transitionBorder;
    flex-basis: calc((100% - 30px) / 2);
    & a:hover svg,
    & a:focus svg {
      fill: getColor("blue");
      transition: $transitionFill;
    }
    &:hover,
    &:focus-within {
      cursor: pointer;
      border-color: getColor("blue");
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0px 14px 0px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &__icon {
    fill: #afb1b8;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customs__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customs {
    &__item {
      flex-basis: calc((100% - 150px) / 5);
    }

    &__display {
      flex-wrap: nowrap;
    }
  }
}
