@import "../utils/vars";

.nav {
  &__list {
    gap: 46px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;
    transition: $transition;
    &--is-active {
      color: getColor("blue");
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: getColor("blue");
        border-radius: 2px;
        width: 100%;
        height: 4px;
        margin-top: 28px;
        display: block;
      }
    }
  }
}
