@import "../utils/vars";

.line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.page-header {
  background-color: getColor("white");
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 320px;
  max-width: 768px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  &__logo {
    color: inherit;
  }

  &__nav {
    margin-left: 93px;
  }

  &__contacts {
    margin-left: 345px;
  }

  &__container {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
