.line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.page-header {
  background-color: getColor("white");
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 60px;

  &__logo {
    color: inherit;
  }

  &__nav {
    margin-left: 93px;
  }

  &__contacts {
    margin-left: 415px;
  }
}

@media screen and (max-width: 767px), (min-width: 1199px) {
  .menu-768-to-1199 {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu-up-1200 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-to-767 {
    display: none;
  }
  .page-header {
    padding: 0;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-up-1200 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .page-header__contacts {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-768-to-1199 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-header {
    &__nav {
      margin-left: 0px;
    }
    &__contacts {
      margin-left: 0px;
    }
  }
}
