@import "../utils/vars";

.page-footer {
  background-color: getColor("dark-background");
  &__layout {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__logo {
    color: getColor("white");
  }
  &__social {
    padding-top: 60px;
  }
  &__heading {
    text-transform: uppercase;
    color: getColor("white");
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 20px;
  }
  &__subscribe-newsletter {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__layout {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 144px;
  }

  .page-footer__social {
    padding-top: 0px;
    margin-right: 74px;
  }

  .page-footer__subscribe-newsletter {
    margin: 0 auto;
    margin-top: -144px;
  }
  .contacts-details {
    margin-left: 61px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    &__layout {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    &__logo {
      font-size: 24px;
      line-height: 1.16;
    }

    &__social {
      padding-top: 0px;
      text-align: start;
    }

    &__subscribe-newsletter {
      padding-top: 0px;
    }
  }

  .contacts-details {
    text-align: start;
  }
}
