@import "../utils/vars";

.line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.page-header {
  background-color: getColor("white");
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 0px;

  &__logo {
    color: inherit;
  }

  &__nav {
    margin-left: 93px;
  }

  &__contacts {
    margin-left: 345px;
  }
}
