@import "../utils/vars";

.project-description {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;

  &__name-of-company {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }

  &__specialization {
    font-size: 16px;
    line-height: 1.88;
    color: getColor("text");
  }
}
