.section-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  padding-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-heading {
    font-size: 36px;
    line-height: 1.17;
    padding-bottom: 50px;
  }
}
