.specializations {
  padding-top: 0px;
  padding-bottom: 80px;
  &__list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  &__item {
    position: relative;
    width: 100%;
  }
  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: getColor("white");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

@media screen and (max-width: 1199px) {
  .specializations {
    display: none;
  }
}
