body {
  font-family: "Roboto", "Raleway", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .body {
    width: 1600px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.display {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;

  &--wrap {
    display: wrap;
  }
}

.display-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  justify-content: center;
}

.display-wrap {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  list-style: none;
}

.icon {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
