body {
  font-family: "Roboto", "Raleway", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  width: 1600px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.display {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 30px;

  &--wrap {
    flex-wrap: wrap;
  }
}

.icon {
  fill: currentColor;
}

img {
  display: block;
}
